.transition-button{
    background-color: blue;
    color: white;
    transition: all;
}

.transition-button:hover{
    background-color: red;
    transition: 0.5s;
}

.transition-div{
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: all;
}

.transition-div:hover{
    width: 200px;
    transition:1s;
}

.transition-text{
    font-size: 16px;
    transition: all;
}

.transition-text:hover{
    font-size: 24px;
    transition: 0.3s;
}